{% extends "admin/base_site.html" %}
{% block title %}Serverprocessen overzicht{% endblock %}
{% block content %}
{% if view.msg %}
    <h4>{{ view.msg }}</h4>
{% else %}
    <h4>Klik op 'Start' om een taak op te staren.</h4>
{% endif %}
<table border=1>
  <th></th>
  <th>Taaknaam</th>
  <th>Status</th>
  <th>UUID</th>
  <th>DT_Start</th>
  {% for task in view.tasks %}
     <tr>
       <td>
	 <form action="" method="POST">{% csrf_token %}
	   <input type="hidden" name="task_name" value="{{ task.task.name }}" />
           <input type="submit" name="action"  value="start" />
         </form>
       </td>
        <td>{{ task.task.name }}</td>
	{% if task.latest_state %}
        <td>{{ task.latest_state.state }}</td>
	<td>{{ task.latest_state.task_id }}</td>
	<td>{{ task.latest_state.tstamp }}</td>
	{% else %}
	<td></td>
	<td></td>
	<td></td>
	{% endif %}
	
     </tr>
  {% endfor %}
</table>
{% endblock %}

{% block branding %}
<h1 id="site-name">Serverprocessen</h1>
{% endblock %}
