{% extends "admin/base_site.html" %}

{% block extrahead %}
  {% if view.msg %}
    <meta http-equiv="refresh" content="5; url=./" >
  {% else %}
    <meta http-equiv="refresh" content="10" >
  {% endif %}
{% endblock %}

{% block title %}
Serverproces: {{ view.task }}
{% endblock title %}

{% block branding %}
  <h1 id="site-name">Serverproces: {{ view.task }}</h1>
{% endblock branding %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url lizard_task_home %}">Overzicht serverprocessen</a>
</div>
{% endblock %}

{% block content %}

{% if view.msg %}
<h4>{{ view.msg }}</h4>
{% else %}
<h4>Klik op 'Start' om de taak op te staren.</h4>
{% endif %}

<form action="" method="POST">{% csrf_token %}
  <input type="hidden" name="task_pk" value="{{ view.task.pk }}" />
  {% if view.is_functioneelbeheerder or view.is_superuser %}
    <input type="submit" name="action"  value="start"/>
  {% else %}
    <input disabled type="submit" name="action" title="Voor functioneelbeheerder" value="start" />
  {% endif %}
</form>

<div class="module">
  <table width="100%">
    <thead>
      <tr>
        <th>
          UUID
        </th>
        <th>
          Opgestart door
        </th>
        <th>
          Start uitvoering
        </th>
        <th>
          Runtime (s)
        </th>
        <th>
          Uitvoerder
        </th>
        <th>
          Resultaat
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
    {% for task_execution in view.task.taskexecution_set.all %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td>
        <a href="{{ task_execution.get_absolute_url }}">{{ task_execution.task_uuid }}</a>
      </td>
      <td>
        {% firstof task_execution.started_by 'onbekend' %}
      </td>
      <td>
        {% firstof task_execution.dt_start 'onbekend' %}
      </td>
      <td>
        {% firstof task_execution.delta_time '-' %}
      </td>
      <td>
        {% firstof task_execution.task_state.worker 'onbekend' %}
      </td>
      <td>
        {% ifequal task_execution.result 'ok' %}
          <span style="color: green;">
        {% else %}
          {% ifequal task_execution.result 'failure' %}
            <span style="color: red;">
          {% else %}
            <span>
          {% endifequal %}
        {% endifequal %}
          <strong>
            {% firstof task_execution.task_state.result task_execution.result '-' %}
          </strong>
        </span>
      </td>
      <td>
        {% ifequal task_execution.task_state.state 'SUCCESS' %}
          <span style="color: green;">
        {% else %}
          {% ifequal task_execution.task_state.state 'FAILURE' %}
            <span style="color: red;">
          {% else %}
            {% ifequal task_execution.task_state.state 'STARTED' %}
              <span>
            {% else %}
              <span>
            {% endifequal %}
          {% endifequal %}
        {% endifequal %}
        <strong>{{ task_execution.task_state.state }}</strong>
        </span>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td>
        Geen runs beschikbaar.
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
