{% extends "admin/base_site.html" %}

{% block extrahead %}
  {% if view.msg %}
    <meta http-equiv="refresh" content="5; url=./" >
  {% else %}
    <meta http-equiv="refresh" content="10" >
  {% endif %}
{% endblock %}

{% block title %}Serverprocessen{% endblock %}

{% block branding %}
  <h1 id="site-name">Serverprocessen</h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

  {% if view.msg %}
    <h4>{{ view.msg }}</h4>
  {% else %}
    <h4>Klik op 'Start' om een taak op te staren.</h4>
  {% endif %}

  <div class="module">
    <table width="100%">
      <thead>
        <th></th>
        <th>Taaknaam</th>
        <th>Aantal uitvoeringen</th>
	<th>Laatst opgestart door</th>
        <th>Laatste uitvoering</th>
        <th>Runtime (s)</th>
	<th>Crontab</th>
        <th>Laatste resultaat</th>
        <th>Status</th>
      </thead>
      <tbody>
      {% for task in view.tasks %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>
            <form action="" method="POST">{% csrf_token %}
              <input type="hidden" name="task_pk" value="{{ task.pk }}" />
	      {% if view.is_functioneelbeheerder %}
                <input type="submit" name="action"  value="start" />
	      {% else %}
		<input disabled type="submit" name="action" title="Voor functioneelbeheerder" value="start" />
              {% endif %}
            </form>
          </td>
          <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
          <td>
            {{ task.taskexecution_set.all.count }}
          </td>
	  <td>
            {% firstof task.taskexecution_set.latest.started_by 'onbekend' %}
          </td>
          <td>{% firstof task.taskexecution_set.latest.dt_start '-' %}</td>
          <td>{% firstof task.taskexecution_set.latest.delta_time '-' %}</td>
	  <td><strong>{{ task.crontab }}</strong></td>
          <td>
              {% ifequal task.taskexecution_set.latest.result 'ok' %}
                <span style="color: green;">
              {% else %}
                {% ifequal task.taskexecution_set.latest.result 'failure' %}
                  <span style="color: red;">
                {% else %}
                  <span>
                {% endifequal %}
              {% endifequal %}
              <strong>
                {% firstof task.latest_state.result task.taskexecution_set.latest.result '-' %}
              </strong>
            </span>
          </td>
          <td>
            {% ifequal task.latest_state.state 'SUCCESS' %}
              <span style="color: green;">
            {% else %}
              {% ifequal task.latest_state.state 'FAILURE' %}
                <span style="color: red;">
              {% else %}
                {% ifequal task.latest_state.state 'STARTED' %}
                  <span>
                {% else %}
                  <span>
                {% endifequal %}
              {% endifequal %}
            {% endifequal %}
            <strong>{{ task.latest_state.state }}</strong>
            </span>
          </td>
         </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
