{% extends "admin/base_site.html" %}

{% block extrahead %}
  {% if view.msg %}
    <meta http-equiv="refresh" content="5; url=./" >
  {% else %}
    <meta http-equiv="refresh" content="10" >
  {% endif %}
{% endblock %}

{% block title %}Serverprocessen{% endblock %}

{% block branding %}
  <h1 id="site-name">Serverprocessen</h1>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

  {% if view.msg %}
    <h4>{{ view.msg }}</h4>
  {% else %}
    <h4>Klik op 'Start' om een taak op te staren.</h4>
  {% endif %}

  <div class="module">
    <table width="100%">
      <thead>
        <th></th>
        <th>Taaknaam</th>
        <th>Aantal uitvoeringen</th>
        <th>Laatste uitvoering</th>
        <th>Runtime (s)</th>
        <th>Resultaat</th>
        <th>Status</th>
      </thead>
      <tbody>
      {% for task in view.tasks %}
        <tr class="{% cycle 'row1' 'row2' %}">
          <td>
            <form action="" method="POST">{% csrf_token %}
              <input type="hidden" name="task_pk" value="{{ task.pk }}" />
              <input type="submit" name="action"  value="start" />
            </form>
          </td>
          <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
          <td>
            {{ task.taskexecution_set.all.count }}
          </td>
          {% if task.latest_state %}
          <td>{% firstof task.taskexecution_set.latest.dt_start '-' %}</td>
          <td>{% firstof task.latest_state.runtime|floatformat '-' %}</td>
          <td>{% firstof task.latest_state.result '-' %}</td>
          <td>
            {% ifequal task.latest_state.state 'SUCCESS' %}
              <span style="color: green;">
            {% else %}
              {% ifequal task.latest_state.state 'FAILURE' %}
                <span style="color: red;">
              {% else %}
                {% ifequal task.latest_state.state 'STARTED' %}
                  <span>
                {% else %}
                  <span>
                {% endifequal %}
              {% endifequal %}
            {% endifequal %}
            <strong>{{ task.latest_state.state }}</strong>
            </span>
          </td>
        {% else %}
          <td>{% firstof task.taskexecution_set.latest.dt_start '-' %}</td>
          <td colspan="3">(niet beschikbaar)</td>
        {% endif %}

         </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
